$black: #010000;
$white: #ffffff;
$lightGrey: #e6e6e6;
$darkGrey: #333;
$red: #ff1755;

/* Mixins */

@mixin translateY($e) {
  -webkit-transition: translateY($e);
  -moz-transition: translateY($e);
  transition: translateY($e);
}

@mixin transition($e) {
  -webkit-transition: $e;
  -moz-transition: $e;
  transition: $e;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: $black;
  font-weight: 400;
  font-style: normal;
}

h1 {
  margin-top: 20px;
}

a {
  text-decoration: none;
  @include transition(0.4s ease-in-out);
  cursor: pointer;
  // border-bottom: 1px solid rgb(255, 0, 0);

  &:hover {
    color: $red;
    // border-bottom: 2px solid rgb(255, 0, 0);
    text-decoration: none;
    @include transition(0.4s ease-in-out);
  }
}
