@import "_config.scss";

header {
  position: relative;
  display: block;
  width: 100%;
  // background: #f8f8f8;
  color: $white;
  height: 90px;

  .logo {
    position: absolute;
    top: 50%;
    left: 15px;
    @include translateY(-50%);
  }

  nav,
  nav ul,
  nav ul li {
    margin: 0;
    padding: 0;
  }

  nav {
    position: absolute;
    top: 50%;
    right: 15px;
    @include translateY(-50%);

    ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 20px;

      &.last {
        margin: 0;
      }

      a {
        font-size: 19px;
        line-height: normal;
        color: $white;
      }
    }
  }
}

.App {
  line-height: 24px;
  font-family: "IBM Plex Sans", sans-serif;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  // max-width: 60%;
  margin-top: 13%;
  .box-1 {
    flex-basis: 10%;
    h4 {
      font-size: 1.5rem;
      color: $black;
      position: fixed;
    }
  }
  .box-2 {
    flex-basis: 40%;
    h4 {
      font-size: 1.5rem;
      line-height: 1.4;
    }
    .links {
      line-height: 4;
      font-size: 1.5rem;
      a {
        margin-right: 5%;
        color: $black;
        border-bottom: 1px solid $black;
      }
    }
    .container-fluid {
      margin-top: -20%;
      .experiences {
        display: flex;
        margin: 5% 0;
        img {
          width: 20%;
          height: 20%;
        }
        ul {
          list-style-type: none;
          margin-bottom: 0;
          h6 {
            font-size: 16px;
          }
          li {
            margin-bottom: 1%;
            font-size: 16px;
          }
        }

        ul li:before {
          content: "\2014";
          position: absolute;
          margin-left: -20px;
        }
      }

      .projects {
        display: flex;
        margin: 5% 0;
        img {
          width: 20%;
          height: 20%;
        }
        ul {
          list-style-type: none;
          margin-bottom: 0;
          h6 {
            font-size: 16px;
          }
          li {
            margin-bottom: 1%;
            font-size: 16px;
          }
        }

        ul li:before {
          content: "\2014";
          position: absolute;
          margin-left: -20px;
        }
      }
    }

    .fade-enter {
      opacity: 0;
      z-index: 1;
    }

    .fade-enter.fade-enter-active {
      opacity: 1;
      transition: opacity 350ms ease-in;
    }
  }
}

.container-fluid {
  line-height: 24px;
  font-family: "IBM Plex Sans", sans-serif;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
